<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/font-awesome.min.js"></script>
</head>
<body>
    <div class="card mx-auto" style="width: 650px; padding: 8px 8px 8px 8px;">
        <h3 class="card-title">Logueo</h3>
        <form method="POST" class="card-body">
            <div class="form-group">
                <label for="name"><i class="fas fa-user"></i> Usuario</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="pass"><i class="fas fa-key"></i> Contraseña</label>
                <input type="password" name="pass" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Loguearme</button>
            <div>
                <label for=""> ...o <a href="/register">regístrate</a></label>
            </div>
        </form>
    </div>
</body>
</html>